<h1>Welcome to Amazon!</h1>
<h3>...where shopping is a breeze!</h3>

<div class='row'>
  <%@products.each do |product| %>
    <div class='col-md-4'>
      <div id='center-it'>
        <p><%= image_tag product.image.url(:thumb) %></p>
        <h3><%= link_to product.name, product %></h3>
        <p><%= number_to_currency(product.price) %></p>
        <p>
          <a href="">
            <span class='glyphicon glyphicon-plus'></span>Quick Info
          </a>
        </p>      
      </div>
    </div>
  <% end %>
</div>
